body {
   margin: 0 auto;
   background: rgb(41, 40, 40);
}

.slider-wrapper {
   display: block;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   background: rgb(41, 40, 40);
   overflow-y: auto;
   overflow-x: hidden;

   margin: 20px auto;

   max-width: 790px;
}

.container {
   max-height: 555px;
   height: 100%;
   width: 100%;
   position: relative;
}

.slider {
   position: absolute;
   left: 0;
   top: 0;

   flex-direction: row;
   flex-wrap: wrap;
   align-items: flex-start;
   justify-content: center;
   align-content: center;

   width: 100%;
   background: rgb(41, 40, 40);

   opacity: 1;
   z-index: 0;
   display: flex;
   transform: scale(1);
   transition: transform 1.6s;
}

.slider p {
   display: inline-block;
   text-align: start;
   color: white;
   width: 95%;
}

.slider > div {
   text-align: center;
}

.slide-container {
   position: relative;
}

.slider img {
   width: 95%;
   border-radius: 1%;
}
.slide1 {
   left: 0;
}

.slide2 {
   left: 100%;
}

.slide3 {
   left: 200%;
}

.slide4 {
   left: 300%;
}

.slider-pagination {
   position: absolute;
   top: 500px;
   width: 100%;
   left: 0;
   text-align: end;
   z-index: 100500;
   width: 97%;
}

.slider-pagination label {
   display: inline-block;
   position: relative;
   width: 10px;
   height: 10px;
   border-radius: 50%;

   background: rgb(91, 88, 253);
   margin: 0 2px;
   border: solid 1px rgba(255, 255, 255, 0.7);
   cursor: pointer;
}

.slider-pagination label:before {
   content: '';
   position: absolute;
   top: -10px;
   bottom: -10px;
   left: -10px;
   right: -10px;
}

.slider-pagination label:hover {
   background: rgb(255, 255, 255);
   border: solid 1px rgba(255, 255, 255, 1);
}

.slide-radio1:checked ~ .slider-pagination .page1,
.slide-radio2:checked ~ .slider-pagination .page2,
.slide-radio3:checked ~ .slider-pagination .page3,
.slide-radio4:checked ~ .slider-pagination .page4 {
   background: rgba(255, 255, 255, 0.1);
}

.slide-radio1:checked ~ .slider {
   transform: translateX(0%);
}

.slide-radio2:checked ~ .slider {
   transform: translateX(-100%);
}

.slide-radio3:checked ~ .slider {
   transform: translateX(-200%);
}

.slide-radio4:checked ~ .slider {
   transform: translateX(-300%);
}

@media (max-width: 790px) {
   .slider-pagination {
      text-align: center;
      top: 95%;
   }
   .slider-pagination {
      position: static;
      margin-top: 70%;
      text-align: center;
   }
}
